<div class="container">
    <div class="row justify-content-center align-items-center m-5 p-5">
        <div class="col-auto ">
            <h1>Form</h1>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>age</mat-label>
                <input matInput>
            </mat-form-field>

        </div>
    </div>
</div>